@charset "utf-8";

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url('macbook.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Fjalla One', 'Kosugi Maru', Meiryo, sans-serif;
}

li {
  list-style-type: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* header */
.header {
  padding: 250px 0px;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.header .name {
  font-size: 8rem;
}

.header .list {
  display: inline-block;
  width: 150px;
  height: 75px;
  font-size: 2.7rem;
  line-height: 75px;
  margin-top: 50px;
}

.header .list > a {
  display: inline-block;
  width: inherit;
  height: inherit;
  color: white;
  text-decoration: none;
  border: 1.8px solid white;
  transition: all 0.3s;
}

.header .list > a:hover {
  border: 1.8px solid #777;
  background-color: darkgray;
}

.header .list-product {
  margin-left: 30px;
  margin-right: 30px;
}

/* about */
.about {
  background-color: whitesmoke;
  padding: 80px 0 100px;
}

.title {
  display: inline-block;
  margin: 0 auto 100px;
  font-size: 7rem;
}

.about .title {
  color: gainsboro;
}

.about .image-wrapper {
  width: inherit;
  margin-bottom: 80px;
}

.about .image {
  width: 380px;
  height: 190px;
  border-radius: 4px;
  box-shadow: 0 0 10px gray;
  background-size: cover;
}

.about .hkbs {
  background-image: url('hkbs.jpg');
  float: left;
}

.about .hkdsc {
  background-image: url('hkdsc.jpg');
  float: right;
}

.about .desc-wrapper {
  width: inherit;
}

.about .desc {
  margin-bottom: 20px;
  color: darkgray;
  font-size: 2.2rem;
  font-family: 'Kosugi Maru';
  text-align: left;
  line-height: 1.5;
}

.about .desc:last-of-type {
  margin-bottom: 0;
}

/* product */
.product {
  background-color: gainsboro;
  padding: 80px 0 100px;
}

.product .title {
  color: whitesmoke;
}

.product .link-wrapper {
  width: inherit;
}

.product .kaden-wrapper,
.product .washoku-wrapper {
  width: inherit;
}

.product .kaden-wrapper {
  margin-bottom: 80px;
}

.product .link {
  display: block;
  width: 380px;
  height: 190px;
  transition: all 0.3s;
}

.product .link:hover {
  box-shadow: 0 0 15px dimgray;
}

.product .kaden {
  background-image: url('kaden.png');
  background-size: cover;
  float: left;
}

.product .washoku {
  background-image: url('washoku.png');
  background-size: cover;
  float: right;
}

.product .desc-wrapper {
  width: 380px;
  height: 190px;
}

.product .desc-kaden {
  float: right;
}

.product .desc-washoku {
  float: left;
}

.product .desc-title {
  margin-bottom: 20px;
  color: darkgray;
  font-size: 2.7rem;
}

.product .desc {
  color: darkgray;
  font-size: 2rem;
  text-align: left;
  line-height: 1.5;
}

/* skill */
.skill {
  background-color: whitesmoke;
  padding: 80px 0 50px;
}

.skill .title {
  color: gainsboro;
}

.skill .skill-wrapper {
  width: inherit;
}

.skill .skill-box {
  margin: 0 100px 50px;
  width: 200px;
  height: 280px;
  float: left;
}

.skill .skill-item {
  width: inherit;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px gray;
}

.skill .fab {
  font-size: 12rem;
  line-height: 200px;
}

.skill .fa-html5 {
  color: tomato;
}

.skill .fa-css3-alt {
  color: royalblue;
}

.skill .fa-js {
  color: gold;
}

.skill .fa-adobe {
  color: red;
}

.skill .skill-name {
  color: darkgray;
  font-size: 3rem;
  line-height: 80px;
}

/* footer */
.footer {
  padding: 100px 0 50px;
}

/* responsive */
@media (max-width: 1024px) {
  body {
    background-image: none;
    background-color: silver;
  }

  .header {
    padding: 200px 0px;
  }

  .content {
    width: 600px;
  }

  .header .name {
    font-size: 7rem;
  }

  .header .list {
    width: 130px;
    height: 65px;
    font-size: 2.5rem;
    line-height: 65px;
  }

  .header .list > a {
    transition: all 0s;
  }

  .header .list > a:hover {
    border: 1.8px solid white;
    background-color: transparent;
  }

  .title {
    font-size: 6rem;
  }

  .about .image {
    width: 285px;
    height: 142.5px;
    border-radius: 3px;
  }

  .about .desc {
    font-size: 2.0rem;
  }

  .product .link {
    width: 285px;
    height: 142.5px;
    box-shadow: 0 0 15px dimgray;
  }

  .product .desc-wrapper {
    width: 285px;
    height: 142.5px;
  }

  .product .desc-title {
    margin-bottom: 15px;
    font-size: 2.2rem;
  }

  .product .desc {
    font-size: 1.5rem;
  }

  .skill .skill-box {
    margin: 0 60px 50px;
    width: 180px;
    height: 252px;
  }

  .skill .skill-item {
    height: 180px;
  }

  .skill .fab {
    font-size: 10rem;
    line-height: 180px;
  }

  .skill .skill-name {
    font-size: 2.5rem;
    line-height: 72px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 150px 0;
  }

  .content {
    width: 400px;
  }

  .header .name {
    font-size: 5rem;
  }

  .header .list {
    width: 100px;
    height: 50px;
    font-size: 2rem;
    line-height: 50px;
  }

  .title {
    font-size: 5rem;
  }

  .about .image {
    width: 400px;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 50px;
  }

  .about .hkbs {
    float: none;
  }

  .about .hkdsc {
    float: none;
  }

  .about .desc {
    font-size: 1.8rem;
  }

  .product .link {
    width: 400px;
    height: 200px;
    margin-bottom: 30px;
  }

  .product .kaden {
    float: none;
  }

  .product .washoku {
    float: none;
  }

  .product .desc-wrapper {
    width: 400px;
    height: 200px;
  }

  .product .desc-kaden {
    float: none;
  }

  .product .desc-washoku {
    float: none;
  }

  .product .desc-title {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  .product .desc {
    font-size: 1.8rem;
  }

  .skill .skill-box {
    margin: 0 auto 50px;
    float: none;
  }

  .footer {
    padding: 80px 0 40px;
  }
}

@media (max-width: 432px) {
  .header {
    padding: 80px 0;
  }

  .content {
    width: 280px;
  }

  .header .list {
    display: block;
    width: 250px;
    margin: 50px auto 0;
  }

  .header .list-product,
  .header .list-skill {
    margin-top: 30px;
  }

  .header .list > a {
    display: block;
  }

  .about {
    padding: 80px 0;
  }

  .title {
    margin: 0 auto 50px;
    font-size: 4rem;
  }

  .about .image-wrapper {
    margin-bottom: 50px;
  }

  .about .image {
    width: 280px;
    height: 140px;
    border-radius: 3px;
  }

  .about .desc {
    font-size: 1.5rem;
  }

  .product {
    padding: 80px 0;
  }

  .product .link {
    width: 280px;
    height: 140px;
    margin-bottom: 30px;
  }

  .product .desc-wrapper {
    width: 280px;
    height: 140px;
  }

  .product .desc-title {
    margin-bottom: 15px;
    font-size: 2rem;
  }

  .product .desc {
    font-size: 1.5rem;
  }

  .skill .skill-box {
    margin: 0 auto 20px;
    width: 140px;
    height: 196px;
  }

  .skill .skill-item {
    height: 140px;
  }

  .skill .fab {
    font-size: 7.5rem;
    line-height: 140px;
  }

  .skill .skill-name {
    font-size: 2rem;
    line-height: 56px;
  }

  .footer {
    padding: 50px 0 30px;
  }
}
